.container {
  background-color: black;
  width: 100%;
  height: 1800px;
}

.title {
  padding-top: 100px;
  text-align: center;
  color: white;
}

.count {
  text-align: center;
  color: white;
  font-size: 20px;
}
.circle-red{
  background: red;
  display: flex;
  flex-direction: column;
  clip-path: circle(50%);
  height: 8em;
  width: 8em;
}

.circle{
  background: #456BD9;
  display: flex;
  flex-direction: column;
  clip-path: circle(50%);
  height: 8em;
  width: 8em;
}


.pokemon-name {
  color: white;
  padding: 10px 0px 0px 30px;
  font-size: 15px;
}

.catch {
  align-items: center;
  margin: 0px auto
}

.container-circle {
  display: grid;
  grid-template-columns: 5fr 5fr;
  grid-auto-rows: 11em;
}

.pockemon-img {
  width: 50%;
  display: block;
  margin: 0 auto;
}


.page {
  color: white;
}